@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="/Account_Page/Login" class="btn btn-primary">Login</a>
    <a asp-page="AdminPage" class="btn btn-primary">Admin</a>

</div>
