@page
@model EcoBazzar.Pages.Account_Page.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title text-center">Forgot Password</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group form-group-spacing">
                    <label for="Email">Email Address</label>
                    <input asp-page="email.Email" class="form-control" id="Email" name="Email" placeholder="Enter your email" required />
                    <span asp-validation-for="email.Email" data-valmsg-for="Email" class="text-danger"></span>

                </div>
                <div class="form-group form-group-spacing">
                    <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                </div>
            </form>
            <div class="form-group mt-3 text-center">
                <p>Remembered your password? <a asp-page="Login" class="custom-link">Login</a></p>
            </div>
        </div>
    </div>
</div>

<div asp-validation-summary="All" class="text-danger"></div>


@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
