@page
@model EcoBazzar.Pages.Account_Page.Login
@{
    ViewData["Title"] = "User Entry";
}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group form-group-spacing">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter your email" required />
                </div>
                <div class="form-group form-group-spacing">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter your password" required />
                </div>
                <div class="form-group form-group-spacing">
                    <a asp-page="ForgotPassword" class="custom-link">Forgot password?</a>
                </div>
                <div class="form-group form-group-spacing">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <div class="form-group mt-3 text-center">
                    <p>Don't have an account? <a asp-page="SignUp" class="custom-link">Register here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
